//Variables
@bgcolor:lightblue;
@fuente:Arial;
@b:body;

//Utilizamos body
@{b}{
    background-color: @bgcolor;
    font-family: @fuente;
}

//Anidacion
.informacion{
    ul{
        a{
            color: green;
            font-size: 18px;
        }
    }
}


//Mixins
.sombras(@size){
    box-shadow: 0px 0px @size black;
    text-shadow: 0px 0px @size black;
}

.informacion{
    .sombras(50px);
}

// Operadores
h5{
    font-size: 3px+7px;
}

//Mixins Condicionales
.textNegro (@values) when (@values=negro){
    color: black;
}

h5{
    color: blue;
    .textNegro(azul);
}

//Mixins Iterativos o Bucles

.loop(@counter) when (@counter > 0) {
    .loop((@counter - 1));    // next iteration
    height: (900px/ @counter);
}


.informacion{
    height: 900px;
    .loop(5); // launch the loop
}
