body {
  background-color: lightblue;
  font-family: Arial;
}
.informacion ul a {
  color: green;
  font-size: 18px;
}
.informacion {
  box-shadow: 0px 0px 50px black;
  text-shadow: 0px 0px 50px black;
}
h5 {
  font-size: 10px;
}
h5 {
  color: blue;
}
.informacion {
  height: 900px;
  height: 450px;
  height: 300px;
  height: 225px;
  height: 180px;
}
