
body{
    --rojo:rgb(226, 128, 128);

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#layout{    
    display: flex;
    
    /*flex-direction: row;
    flex-wrap: wrap;*/
    flex-flow: row wrap;
    justify-content: space-between;

    /*Order*/

    height: 600px;
    align-items: flex-start;

    border: 3px solid black;
    padding: 5px;

}
.caja{
    flex-grow: 1;

    /*flex-basis: 25%;    Tamaño que van a ocupar*/
    /*flex-basis: calc( ((100%/4)-0px) );*/

    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 20px;
    border: 4px solid #222;
    margin: 10px;
    background: gray;
}
.red{    
    order: 1;
    /*flex-grow: 7;*/
    background: var(--rojo);
    align-self: flex-start;
}
.green{    
    order: 2;
    /*flex-grow: 7;*/
    background: rgb(141, 233, 141);
    align-self: center;
}
.blue{    
    order: 3;
    /*flex-grow: 1;*/
    /*flex-shrink: 0;*/
    background: rgb(109, 109, 223);
    align-self: center;
}
.orange{
    order: 4;
    /*flex-grow: 7;*/
    /*flex-basis: 100%;*/
    background: rgb(235, 206, 153);
    align-self: flex-end;
}
