body{
    background-color: DarkCyan;
    background-image: url(img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    color: black;
    text-align: justify;
    
    /*    
    Espacios entre textos
    text-indent: 10px;
    word-spacing: 10px;
    letter-spacing: 5px;*/

}

#caja{
    border:5px solid black;
    padding: 10px;
    background-color: DarkSalmon;
    color:white;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
}

h2{
    color: red;
    height: 200px;
}