*{
    margin: 0px;
    padding: 0px;
    color: rgb(151, 146, 146);
}
.clearfix{
    float: none;
    clear: both;
}
#container{    
    width: 70%;
    background: rgb(204, 135, 135);
    margin: 0px auto;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    height: 150px;
    background: lightblue;
    color: #333;
    line-height: 150px;
    text-align: center;
}

aside{
    width: 25%;
    background: #ccc;
    float: left;
    min-height: 700px;
    text-align: center;
    line-height: 350px;
}

#articles{
    width: 75%;
    min-height: 700px;
    background-color: lemonchiffon;
    float: left;
}

#articles article{
    width: 25%;
    height: 150px;
    background: rgb(129, 124, 124);
    color: white;
    line-height: 150px;
    text-align: center;
    border:2px solid white;
    float: left;
    margin: 10px;
}


/*Responsive*/
@media (max-width:888px){

    #articles article{
        width: 40%;
    }
}

@media (max-width:632px){

    #content{
        overflow: hidden;
    }

    aside{
        float: none;
        min-height: auto;
        line-height: 20px;
        width: 91%;
        padding: 19px;
    }

    #articles{
        width: 100%;
    }

    #articles article{
        width: 90%;
    }
}

@media (max-width:526px){
    *{
        font-size: 14px;
    }

    aside{
        display: none;
    }
}