*{
    font-family: Arial, Helvetica, sans-serif;
}

ul li{
    font-size: 20PX;
}

ul li:first-child{
    color: purple;
    font-weight: bold;
}


ul li:nth-child(2){
    color: yellow;
    font-weight: bold;
}

ul li:last-child{
    color: green;
    font-weight: bold;
}


#mi-enlace{
    font-size: 30px;
    color: salmon;
}

#mi-enlace:link{
    color: red;
}

#mi-enlace:visited{
    color: black;
}

#mi-enlace:hover{
    color: blue;
}

#mi-enlace:active{
    color: chartreuse;
}


input[type="text"]{
    margin-top: 20px;
    padding: 20px;
}

input[type="text"]:focus{
    border: 4px solid red;
}

