*{
    margin: 0px;
    padding: 20px;
}

#caja1{
    width: 250px;
    height: 250px;
    background-color: aquamarine;
    border: 5px solid black;
    margin: 15px;
    padding: 20px;
}

#caja2{
    width: 250px;
    height: 250px;
    background-color: bisque;
    border: 5px solid blueviolet;
    margin: 15px;
    padding: 20px;
}

.cajas{
    max-width: 900px;
    border: 1px solid black;
}

.caja{
    display: block;
    width: 200px;
    height: 200px;
    background-color: bisque;
    border: 5px solid blueviolet;
    margin: 15px;
    padding: 20px;
    float: left;
}

#caja1 p,#caja2 p{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 235px;
}

.clearfix{
    float: none;
    clear: both;
}