body{
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

a{
    text-decoration: none;
}


#website-areas{
    margin: 0px;
    padding: 0px;
}

#website-areas{

    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 150px 70px 1fr 70px;
    grid-template-areas: 
    "cabecera cabecera cabecera cabecera cabecera"
    "menu menu menu menu menu"
    "lateral contenido contenido contenido contenido"
    "lateral pie pie pie pie";
    
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    width: 75%;
    height: 100vh;
    margin: 0px auto;
    border: 1px solid #ccc;
}

#website-areas #cabecera{
    grid-area: cabecera;
    display: flex;
    justify-content: center;

    
    background: blue;
    color: white;    
}
#website-areas #cabecera h1{
    align-self: center;
}

#website-areas #menu{
    grid-area: menu;
    background: lightblue;
    color: black;
    line-height: 40px;
}
#website-areas #menu ul{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    list-style: none;
}

#website-areas #contenido{
    grid-area: contenido;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 25px;
    padding: 20px;
    background: #eee;
}
#website-areas #contenido article{
    background: #ccc;
    border: 1px solid #555;
}
#website-areas #lateral{
    grid-area: lateral;
    background: orange;
    color: white;
}
#website-areas #pie-pagina{
    grid-area: pie;
    background: black;
    color: white;
}






































#website{
    margin: 0px;
    padding: 0px;
}

#website{

    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 150px 70px 1fr 70px;


    width: 75%;
    height: 100vh;
    margin: 0px auto;
    border: 1px solid #ccc;
}

#website #cabecera{
    display: flex;
    justify-content: center;

    grid-column: 1 / 6;
    background: blue;
    color: white;    
}
#website #cabecera h1{
    align-self: center;
}

#website #menu{
    grid-column: 1 / 6;    
    background: lightblue;
    color: black;
    line-height: 40px;
}
#website #menu ul{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    list-style: none;
}

#website #contenido{
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 25px;
    padding: 20px;
    background: #eee;
}
#website #contenido article{
    background: #ccc;
    border: 1px solid #555;
}
#website #lateral{
    grid-column: 5 / 6;
    background: orange;
    color: white;
}
#website #pie-pagina{
    grid-column: 1 / 6;
    background: black;
    color: white;
}




































.layout{
    width: 80%;
    height: 400px;
    margin: 0px auto;

    /*Definir Grid Layout*/
    display: grid;
    /*grid-template-columns: calc(50% - 10px) calc(50% - 10px);*/
    /*grid-template-columns: calc(25% - 10px) calc(25% - 10px) calc(25% - 10px) calc(25% - 10px);*/
    /*grid-template-columns: repeat(4,25%);*/
    /*grid-template-columns: 1fr 1fr 1fr;*/
    grid-template-columns: repeat(3,1fr);
    
    grid-template-rows: 1fr 2fr 1fr;
    /*grid-template-rows: 50% 25% 25%;*/

    /*Dar epacio*/
    
    padding: 10px;
    border: 1px solid orange;
}

.layout .caja{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 20px;
    border: 4px solid rgb(233, 227, 227);
    background: gray;
}

.layout .red{
    grid-column-start: 1;
    grid-column-end: 4;
    background: red;
}
.layout .blue{
    grid-column: 2/4;
    background: blue;
}
.layout .green{
    grid-row: 2 / 4;
    background: green;
}
.layout .pink{
    grid-column: 2/3;
    background: pink;
}

.layout .yellow{
    /*grid-column-start: 1;
    grid-column-end: 3;*/

    grid-column: 1 / 4;

    background: yellow;
}