@font-face{
    font-family: TitilliumWebCustom;
    src: url(fonts/TitilliumWeb-Regular.ttf);
}

body {
    background-color: SeaShell;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;


    /*Colores*/
    /*Colores del Sistema*/
    color:Orchid;
    /*Colores del Hexadecimal*/
    columns: #000000;
    /*Colores RGB*/
    /*Colores RGBA*/
}

h3{
    font-family: TitilliumWebCustom, "Comic Sans MS";
    font-size: 25px;
    font-weight: lighter;
    background-color: rgb(130, 137, 65);
}

p{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(130, 137, 65,0.5);
}