
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: antiquewhite;
}

#general{
    width: 1200px;
    border: 1px solid black;
    margin: 0px auto;
    margin-top: 20px;
}

#header{
    width: 100%;
    height: 100px;
    background:  rgb(124, 65, 21);
    color: white;
    text-align: center;
    line-height: 90px;
}

.clearfix{
    float: none;
    clear: both;
}

#menu{
    background: rgba(185, 74, 104);
}

#menu ul li{
    /*display: inline-block;*/
    display: block;
    float: left;
    text-decoration: none;    
    border-left: 1px solid #ccc;
}

#menu ul li a{
    display: block;
    padding: 15px;
    color: #444;    
}

#menu ul li:hover{
    background: rgb(124, 65, 21);
    cursor: pointer;
}

#menu ul li:hover a{
    color: white;
}


#contenido{
    width: 69.5%;
    float: left;
}
#contenido h1{
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    text-shadow: 1px 1px 2px rgb(187, 100, 100);
}
#contenido .caja{
    width: 40%;
    height: 250px;
    background: rgb(40, 196, 183);
    border: 1px solid rgb(124, 27, 180);
    float: left;
    margin: 20px;
    margin-left: 50px;
    line-height: 240px;
    text-align: center;
    color: rgb(62, 75, 61);
    text-transform: uppercase;
    box-shadow: 0px 10px 20px rgb(187, 17, 17);
    border-radius: 50px 10px 30px 40px;
}

.sombra-interior{
    box-shadow: 0px 10px 20px rgb(187, 17, 17) inset !important;
}

#lateral{
    width: 30%;
    border: 1px solid rgb(45, 112, 175);
    float: left;
    min-height: 500px;
    max-height: 650px;
    overflow-y: scroll;
    text-align: justify;
}


#footer{
    width: 100%;
    background: #eee;
    text-align: center;
    color: #444;
    line-height: 55px;
    border-top: 1px solid rgb(219, 61, 61);
}


#contenido{
    background-color: red;
}

#contenido .caja{
    width: 45%;
    margin: 19px;
    padding: 0px;
}

.libre,.libre2{
    position: absolute;
    top: 300px;
    left: 50%;
    border: 1px solid black;
    background-color: red;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 13px;
}
.libre2{
    top: 400px;
    left: 50%;
    background-color: red;
    z-index: 1;
}
.fija{

    position: fixed;
    top: 50%;
    left: 0px;

    border: 1px solid black;
    background-color: rgb(27, 49, 172);
    color: white;
    width: 50px;
    height: 50px;
    font-size: 13px;

}