.main{
    background-color: rgb(171, 202, 230);
    text-align: center;
    height: 500px;
    width: 90%;
    margin: auto;
}

.main .caja{
    width: 100px;
    height: 100px;
    border: 1px solid rgb(170, 114, 114);
    margin: 30px 30px;
    display: inline-table;
}