*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#container{
    width: 90%;
    height: auto;
    margin: 0px auto;
    border: 1px solid rgb(225, 225, 226,0.8);
    box-shadow: 0px 0px 10px #ccc;
    margin-top: 40px;
    margin-bottom: 40px;
    min-height: 600px;
}
#header{    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 120px;
    border-bottom: 1px solid rgb(225, 225, 226,0.8);
}
.logo{
    flex-grow: 1;
    flex-basis: 60%;    
    padding: 10px;
    margin-left: 20px;
    color: black;
    text-shadow: 1px 1px 0px #ccc;
    text-transform: uppercase;


    font-family: Helvetica;
    font-style: italic;
    font-weight: 900;
    font-size: 35px;
}
.logo h1{
    font-family: Helvetica;
    font-style: italic;
    font-weight: 900;
    font-size: 35px;
}
#menu{
    flex-grow: 1;
    flex-basis: 30%;
    height: 100%;
    padding-right:20px; 
}
#menu > ul{    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    list-style: none;
}
#menu a{
    text-transform: uppercase;
    color: #4444;
    padding: 10px;
    transition: all 300ms;
}

#menu a:hover{
    background: #ccc;
    color: white;
}

#content{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;    
}
#projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 80%;
}
.project{
    flex-grow: 1;
    flex-basis: 250px;
    margin-bottom: 25px;
    margin-right: 20px;
    border: 1px solid #ccc;
}
.project img{
    width: 100%;
}
.project-info{
    padding: 10px;    
}
.project-info a{
    font-size: 16px;
    color: black;
    transition: all 300ms;
}
.project-info a:hover{
    color: green;

}

.project-info p{
    color: gray;
    
}
#aside{
    flex-basis: 15%;
    margin-right: 30px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#aside h2{
    display: block;
    width: 100%;
    font-size: 18px;
    font-weight: 100;
    color: #4444;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(225, 225, 226,0.8);
    text-align: center;
}
#aside ul{
    list-style: none;    
}
#aside ul li{
    padding-bottom: 20px;
}
#aside a{
    text-align: center;
    display: block;
    padding: 20px;
    background: #eee;
    color: #4444;
    text-transform: uppercase;
    transition: all 300ms;
}
#aside a:hover{
    background: #4444;
    color: #eee;
}
#footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: 120px;
    align-items: center;
    border-top: 1px solid rgb(225, 225, 226,0.8);
}
#footer .logo{
    opacity: 0.5;
    flex-basis: auto;
    flex-grow: 1;
    order: 2;
    text-align: right;
    margin-right: 20px;
}
#footer .info{
    flex-grow: 1;
    order: 1;
    margin-left: 20px;
    color: #4444;
}

@media(max-width:1245px){

    #header{
        text-align: center;
    }
    #menu > ul{
        margin-top: 20px;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-wrap: unset;
    }

}


@media(max-width:646px){

    #footer .logo{
        flex-grow: 1;
        order: 1;
        flex-basis: 100%;
        text-align: center;
        margin: 0px;
    }

    #footer .info{
        flex-grow: 1;
        order: 2;
        flex-basis: 100%;
        text-align: center;
        margin: 0px;
    }

    #content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;    
    }

    #aside{
        margin-right: 0px;
    }
    #aside ul{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    #aside ul li{
        flex-grow: 1;
        margin-left: 5px;
        margin-right: 5px;
    }
    #project{
        flex-basis: 234px;
        margin-right: 10px;
        margin-left: 10px;
    }

}