/*Selector Universal*/
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Selector de Etiqueta*/
h1{
  background-color: bisque;
  margin: 0px;
  padding: 10px;
  font-size: 30px;
  color: white;  
}

a{
    text-decoration: none;
    color: aqua;
}

ul {
    background-color: red;
    
}

ul li {
    
}

footer a {
    color: red;
    font-size: 25px;
}

/*Selector de ID*/
#main-menu{
    background-color:blanchedalmond;
}

#descripcion{
    border: 1px solid black;
}

/*Selector de Clase*/

.parrafo{
    font-style: italic;
    font-weight: bold;
}

.parrafo1{
    color: white;
    background-color: black;
}

.parrafo3{
    background-color: coral;
}

/*Selector de Atributo*/

#usuario form{
    border: 1px solid black;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
}

#usuario form *{
    display: block;
}

input[type="text"]{
    margin-bottom: 15px;
    padding-bottom: 13px;
}

input[type="submit"]{
    background-color: green;
    width: 100px;
    height: 50px;    
    color: white;
    font-size: 20px;    
    cursor: pointer;
}



/*Selectores hijo*/
#main-menu > ul > li > a{
    text-decoration: none;
    color: blue;
}



/*Prioridad dentro de CSS*/
h1 {
    background-color: crimson;
}
